certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
cryptography==41.0.3
ffmpeg-python==0.2.0
future==0.18.3
idna==3.4
prompt-toolkit==1.0.14
pycparser==2.21
Pygments==2.16.1
PyInquirer==1.0.3
PyYAML==6.0.1
regex==2023.8.8
requests==2.31.0
six==1.16.0
urllib3==2.0.4
wcwidth==0.2.6
Pillow
